.cont{
  display: flex;
  justify-content: center;
}
.myCard{
  margin-top: 50px;
  width: 850px;
  border-radius: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #c7dfff;
}
.column{
  display: flex;
  flex-direction: column;
}
.column p{
  margin-bottom: 0;
}
