<div class="cont">
  <div class="top-cont">
    <div class="upper-box">
      <div class="colm">
        <p style="font-size: 32px">Thu 04</p>
        <p style="font-size: 20px">Min: 2°C<br>Max: 8°C</p>
      </div>
      <img class="main-img"
           src="https://www.flaticon.com/svg/vstatic/svg/4150/4150875.svg?token=exp=1620757678~hmac=4ccb01b463502e0f2e73620fa54f7bae"
           alt="sun">
    </div>
    <h2 style="font-size: 30px">Weather in Sint-Katelijne-Waver, Belgium</h2>
  </div>
  <div class="main-cont">
    <div class="weather-cont">
      <div class="weath-col">
        <div>
          <span>2</span>
          <sup>00</sup>
        </div>
        <img src="https://image.flaticon.com/icons/png/128/4150/4150908.png" alt="s">
        <span>+10</span>
      </div>
      <div class="weath-col">
        <div>
          <span>5</span>
          <sup>00</sup>
        </div>
        <img src="https://image.flaticon.com/icons/png/128/4150/4150923.png" alt="">
        <span>+10</span>
      </div>
      <div class="weath-col">
        <div>
          <span>8</span>
          <sup>00</sup>
        </div>
        <img src="https://image.flaticon.com/icons/png/128/4150/4150897.png" alt="">
        <span>+10</span>
      </div>
      <div class="weath-col">
        <div>
          <span>11</span>
          <sup>00</sup>
        </div>
        <img src="https://image.flaticon.com/icons/png/128/4150/4150904.png" alt="">
        <span>+10</span>
      </div>
      <div class="weath-col">
        <div>
          <span>14</span>
          <sup>00</sup>
        </div>
        <img src="https://image.flaticon.com/icons/png/128/4150/4150884.png" alt="">
        <span>+10</span>
      </div>
      <div class="weath-col">
        <div>
          <span>17</span>
          <sup>00</sup>
        </div>
        <img src="https://image.flaticon.com/icons/png/128/4150/4150884.png" alt="">
        <span>+10</span>
      </div>
      <div class="weath-col">
        <div>
          <span>20</span>
          <sup>00</sup>
        </div>
        <img src="https://image.flaticon.com/icons/png/128/4150/4150923.png" alt="">
        <span>+10</span>
      </div>
      <div class="weath-col">
        <div>
          <span>23</span>
          <sup>00</sup>
        </div>
        <img src="https://image.flaticon.com/icons/png/128/4150/4150908.png" alt="">
        <span>+10</span>
      </div>
    </div>
    <div class="wind-cont">
        <span>Wind speed, m/s</span>
    </div>
    <div class="wind-cols-cont">
      <div><span>2</span></div>
      <div><span>2</span></div>
      <div><span>2</span></div>
      <div><span>2</span></div>
      <div><span>2</span></div>
      <div><span>2</span></div>
      <div><span>2</span></div>
      <div><span>2</span></div>
    </div>
  </div>
</div>
