<div class="cont">
  <div class="all-cont">
    <h1>
      Weather in {{city}} for a week
    </h1>
    <div class="main-cont">
      <div class="days-cont">
        <div class="day-cont" *ngFor="let day of days; let i = index">
          <span class="day">{{day | date: 'EEE'}}</span>
          <span class="num">{{day | date: 'dd'}}</span>
          <img src="../assets/{{daysData[i].weather[0].icon}}.png" alt="{{daysData[i].weather[0].description}}">
          <span class="temp">{{daysData[i].temp.day < 0 ? '' : '+'}}{{daysData[i].temp.day | number: '1.0-0'}}</span>
        </div>
      </div>
      <div class="wind-cont">
        <span>Wind speed, m/s</span>
      </div>
      <div class="wind-cols-cont">
        <div *ngFor="let dayData of daysData; let i = index"
             [style.background]="setBgColor(dayData.wind_speed)">
          <span>{{dayData.wind_speed | number: '1.0-1'}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
