@media (min-width: 900px){
  .cont{
    font-size: 32px;
  }
}
@media (min-width: 650px) and (max-width: 899px){
  .cont{
    font-size: 25px;
  }
}
@media (min-width: 430px) and (max-width: 649px){
  .cont{
    font-size: 20px;
  }
}
@media (max-width: 429px){
  .cont{
    font-size: 16px;
  }
}
.cont{
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.all-cont{
  width: 100%;
  max-width: 800px;
}
h1{
  margin-left: 10px;
  align-self: baseline;
  font-size: 0.875em;
}
.main-cont{
  background-color: #c7dfff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.days-cont{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.day-cont{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.day-cont img{
  width: 1.56em;
}
.day{
  font-size: 0.56em;
}
.num{
  margin-bottom: 15px;
}
.temp{
  font-size: 0.75em;
  margin-top: 10px;
}
.wind-cont{
  margin-top: 10px;
  margin-left: 15px;
  font-size: 0.5em;
}
.wind-cols-cont{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5px;
  margin-bottom: 10px;
}
.wind-cols-cont span{
  font-size: 0.56em;
  font-style: italic;
  transform: skewX(-160deg);
}
.wind-cols-cont div{
  transform: skewX(160deg);
  display: flex;
  justify-content: center;
  height: 0.78em;
  width: 1.56em;
}
