.nav-item > .active {
  border: none;
}
.nav-link{
  border-radius: 10px;
  color: black;
}
.nav-tabs{
  border: none;
  font-size: 20px;
}
.navbar-toggler{
  border-radius: 10px;
  background-color: white;
}
.navbar-toggler > div{
  width: 25px;
  height: 3px;
  background-color: gray;
  margin: 5px 0 5px 0;
  border-radius: 5px;
}
.navbar-toggler > div:last-child{
  margin-bottom: 2px;
}
.navbar-toggler > div:first-child{
  margin-top: 2px;
}
.navbar{
  background-color: #c7dfff;
  border-radius: 0 0 10px 10px;
}
.navbar-brand{
  font-size: 28px;
  color: black;
}
.form-control{
  border-radius: 10px;
  margin: 5px 0 0 0;
}
.state-container-dropdown{
  border: lightgrey 1px solid;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  z-index: 1;
  width: 225px;
  max-height: 100px;
  background-color: white;
  margin-top: 42px;
  cursor: pointer;
}
.state-container-dropdown:hover{
  background-color: #f7f7f7;
}
.coln{
  margin-top: 5px;
  margin-bottom: 5px;
}
.coln:first-child{
  margin-left: 10px;
}
.coln > img{
  width: 40px;
  margin-right: 10px;
}
.city{
  font-size: 16px;
}
