<div class="cont">
  <div class="all-cont">
    <h1>
      Weather in Sint-Katelijne-Waver for 3 days
    </h1>
    <div class="main-cont">
      <div class="dates-cont">
        <div class="date-cont">
          <span>Mon, 05</span>
        </div>
        <div class="date-cont">
          <span>Tue, 06</span>
        </div>
        <div class="date-cont">
          <span>Wed, 07</span>
        </div>
      </div>
      <div class="weath-cols">
        <div class="weath-col">
          <span class="part-of-day">
            Night
          </span>
          <img src="https://image.flaticon.com/icons/png/128/4150/4150908.png" alt="">
          <span class="temp">
            +9
          </span>
        </div>
        <div class="weath-col">
          <span class="part-of-day">
            Morning
          </span>
          <img src="https://image.flaticon.com/icons/png/128/4150/4150904.png" alt="">
          <span class="temp">
            +10
          </span>
        </div>
        <div class="weath-col">
          <span class="part-of-day">
            Day
          </span>
          <img src="https://image.flaticon.com/icons/png/128/4150/4150875.png" alt="">
          <span class="temp">
            +15
          </span>
        </div>
        <div class="weath-col">
          <span class="part-of-day">
            Evening
          </span>
          <img src="https://image.flaticon.com/icons/png/128/4150/4150884.png" alt="">
          <span class="temp">
            +12
          </span>
        </div>
        <div class="weath-col">
          <span class="part-of-day">
            Night
          </span>
          <img src="https://image.flaticon.com/icons/png/128/4150/4150908.png" alt="">
          <span class="temp">
            +9
          </span>
        </div>
        <div class="weath-col">
          <span class="part-of-day">
            Morning
          </span>
          <img src="https://image.flaticon.com/icons/png/128/4150/4150904.png" alt="">
          <span class="temp">
            +10
          </span>
        </div>
        <div class="weath-col">
          <span class="part-of-day">
            Day
          </span>
          <img src="https://image.flaticon.com/icons/png/128/4150/4150875.png" alt="">
          <span class="temp">
            +15
          </span>
        </div>
        <div class="weath-col">
          <span class="part-of-day">
            Evening
          </span>
          <img src="https://image.flaticon.com/icons/png/128/4150/4150884.png" alt="">
          <span class="temp">
            +12
          </span>
        </div>
        <div class="weath-col">
          <span class="part-of-day">
            Night
          </span>
          <img src="https://image.flaticon.com/icons/png/128/4150/4150908.png" alt="">
          <span class="temp">
            +9
          </span>
        </div>
        <div class="weath-col">
          <span class="part-of-day">
            Morning
          </span>
          <img src="https://image.flaticon.com/icons/png/128/4150/4150904.png" alt="">
          <span class="temp">
            +10
          </span>
        </div>
        <div class="weath-col">
          <span class="part-of-day">
            Day
          </span>
          <img src="https://image.flaticon.com/icons/png/128/4150/4150875.png" alt="">
          <span class="temp">
            +15
          </span>
        </div>
        <div class="weath-col">
          <span class="part-of-day">
            Evening
          </span>
          <img src="https://image.flaticon.com/icons/png/128/4150/4150884.png" alt="">
          <span class="temp">
            +12
          </span>
        </div>
      </div>
      <div class="wind-cont">
        <span>Wind speed, m/s</span>
      </div>
      <div class="wind-cols-cont">
        <div><span>2</span></div>
        <div><span>2</span></div>
        <div><span>2</span></div>
        <div><span>2</span></div>
        <div><span>2</span></div>
        <div><span>2</span></div>
        <div><span>2</span></div>
        <div><span>2</span></div>
        <div><span>2</span></div>
        <div><span>2</span></div>
        <div><span>2</span></div>
        <div><span>2</span></div>
      </div>
    </div>
  </div>
</div>
