@media (min-width: 900px){
  .cont{
    font-size: 32px;
  }
}
@media (min-width: 650px) and (max-width: 899px){
  .cont{
    font-size: 25px;
  }
}
@media (min-width: 430px) and (max-width: 649px){
  .cont{
    font-size: 20px;
  }
}
@media (max-width: 429px){
  .cont{
    font-size: 16px;
  }
}
.cont{
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.all-cont{
  width: 100%;
  max-width: 900px;
}
h1{
  margin-left: 10px;
  align-self: baseline;
  font-size: 0.875em;
}
.main-cont{
  background-color: #c7dfff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.dates-cont{
  margin-top: 5px;
  display: flex;
  flex-direction: row;
}
.date-cont{
  margin-left: 10px;
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  justify-content: flex-start;
}
.date-cont span{
  font-size: 0.7em;
}
.weath-cols{
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}
.weath-day{
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}
.weath-col img{
  width: 0.9em;
}
.weath-col{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
.weath-col:nth-child(4n){
  margin-right: 20px;
}
.part-of-day{
  font-size: 0.5em;
  margin-bottom: 10px;
}
.temp{
  margin-top: 10px;
  font-size: 0.68em;
}
.wind-cont{
  margin-top: 10px;
  margin-left: 15px;
  font-size: 0.5em;
}
.wind-cols-cont{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5px;
  margin-bottom: 10px;
}
.wind-cols-cont span{
  font-size: 0.55em;
  font-style: italic;
  transform: skewX(-160deg);
}
.wind-cols-cont div{
  transform: skewX(160deg);
  display: flex;
  justify-content: center;
  height: 0.8em;
  width: 3.125em;
  background: linear-gradient(to right, #c7dfff 0%, #ebebeb 50%);
}
.wind-cols-cont div:nth-child(4n) {
  margin-right: 20px;
}

